<div class='container px-5 px-sm-0'>
  <%= flash[:notice] %>
  <%=link_to "グループを作成する",new_group_path %>

  <div class='row'>
     <div class='col-md-8 offset-md-1'>
      <h2>グループ一覧</h2>
      <%= render 'index', groups: @groups %>
    </div>
  </div>
</div>