// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.goal-list-container {
  background-color: rgba(255, 255, 255, 0.5); /* 白色の背景で透過度10% */
  padding: 20px; /* 適度な余白を追加 */
  border-radius: 10px; /* 角を丸める */
}

.dream-form, .profile-card {
  background-color: rgba(255, 255, 255, 0.5); /* 背景を90%透明に */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
