<%# app/views/public/relationships/followers.html.erb %>

<h2>フォロワー</h2>

<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= link_to user.name, user_path(user) %> <!-- ユーザーの詳細ページへのリンク -->
      </li>
    <% end %>
  </ul>
<% else %>
  <p>フォロワーはいません。</p>
<% end %>
