<h1>Homes#top</h1>

<button type="button" class="btn btn-secondary">ゲストログイン(閲覧用)</button><br>

<%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %><br>

<%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>

<p>Find me in app/views/homes/top.html.erb</p>
