<h1>管理者用目標一覧</h1>
<table>
  <tr>
    <th>目標ID</th>
    <th>目標</th>
    <th>ユーザー名</th>
  </tr>
  <% @goals.each do |goal| %>
    <tr>
      <td><%= goal.id %></td>
      <td><%= link_to goal.goal, admin_goal_path(goal), class: 'btn btn-primary' %></td>
      <td><%= link_to goal.user.name, admin_user_path(goal.user), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>

<p>Find me in app/views/admin/goals/index.html.erb</p>
